<!DOCTYPE html>
<html lang="en" ng-app="hashCloud">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#Cloud</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <nav ng-controller="NavCtrl">
      <div class="navbar-wrapper">
        <a ui-sref="home" class="brand-logo center">#cloud</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li id="nav-username" ng-show="currentUser">{{currentUser.displayName}}</li>
          <li><a href="" ng-click="login()" ng-hide="currentUser">login</a></li>
          <li><a href="" ng-click="logout()" ng-show="currentUser">logout</a></li>
        </ul>
      </div>
    </nav>

    <main ui-view=""></main>


    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container" class="grey-text">
        <a href="//www.warlyware.com" target="_blank" class="grey-text text-lighten-4">warlyware.com</a>
        <a href="//github.com/warlyware/hash-cloudFE" target="_blank" class="grey-text text-lighten-4 right">checkout on github</a>
        </div>
      </div>
    </footer>

    <script src="./packages/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script src="./packages/lodash/lodash.min.js"></script>
    <script src="./packages/firebase/firebase.js"></script>
    <script src="./packages/angular/angular.min.js"></script>
    <script src="./packages/angularfire/dist/angularfire.min.js"></script>
    <script src="./packages/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="./packages/pleasejs/dist/Please.js"></script>
    <script src="./javascripts/index.js"></script>
    <script src="./javascripts/controllers/home.js"></script>
    <script src="./javascripts/controllers/nav.js"></script>
    <script src="./javascripts/services/fbservice.js"></script>
    <script src="./javascripts/services/twitteruser.js"></script>

  </body>
</html>
