body {
  background-color: rgba(58, 96, 103, 0.09);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h5 {
  font-weight: lighter;
  font-style: italic;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  color: #464545;
}

main {
  flex: 1 0 auto;
}

input {
  margin-top: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.page-footer {
  background-color: #079AB3 !important;
}

.landingpage p {
  font-size: 1.5em;
}

.brand-logo {
  margin-left: -5px !important;
}

.clearfix {
  overflow: auto; }

#tags .tag {
  float: left;
  display: inline-block;
  font-weight: bold;
  margin-left: 15px;
  cursor: pointer;
}

button {
  background-color: #079AB3 !important;
}

button.tweet-button {
  margin-top: 15px;
}

.btn-follow, .btn-following {
  margin-right: 10px;
}

.btn-following.disabled {
  background-color: #2DDE59 !important;
  color: white !important;
}

.followers, .tweets, .friends {
  margin-left: 15px;
}

input.checkbox {
  position: initial !important;
  left: 0px !important;
  visibility: visible !important;
}

.user-img {
  margin-left: 16px;
  margin-top: 10px;
}

.sky-blue {
  background-color: #079AB3;
}

.card-panel {
  padding: 0 !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

/*
.mid-card {
  margin-left: 10px !important;
}*/

nav {
  background-color: #079AB3;
}

.material-icons {
  color: #079AB3;
}

textarea {
  border: 1px solid rgba(164, 164, 164, 0.38);
  border-radius: 5px;
  height: 150px;
  width: 80%;
}

.brand-logo {
  margin-left: 20px; }

.clearfix {
  overflow: auto; }

#tags .tag {
  float: left;
  display: inline-block;
  font-weight: bold;
  margin-left: 15px; }

/* label color */
.input-field label {
  color: #000; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000; }

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000; }
